.avatar-thumb {
  border-radius: 50%;
  max-width: 40px;
}
/* avatar-thumb is not needed, investigate to remove it later */

.divider {
  margin: 0.5rem;
}

.search-dropdown-menu {
  max-height: 450px;
  overflow: scroll;
}
