@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: linear-gradient(
    -45deg,
    #ee7752,
    #e73c7e,
    #b423d5,
    #23a6d5,
    #23d5ab
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.height {
  height: 100vh;
}

.avatar-thumb {
  border-radius: 50%;
  max-width: 40px;
}

.divider {
  margin: 0.5rem;
}

.search-dropdown-menu {
  max-height: 450px;
  overflow: scroll;
}
